# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile*
docker-compose*
.docker

# IDE
.vs/
.vscode/
*.sln.iml
*.suo
*.user
*.userosscache
*.dbmdl
*.jfm

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Dependencies
**/node_modules/
**/packages/
**/vendor/

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.opencover.xml

# Misc
*.swp
.DS_Store
Thumbs.db
