@page "/"

<div class="space-y-6">
    <TwTitle>Welcome to FloByte Designer</TwTitle>
    
    <TwSubtitle>Visual Workflow Builder</TwSubtitle>
    
    <TwText>
        Create and manage your workflows with our intuitive designer interface.
        Drag and drop nodes, connect them together, and bring your automation to life.
    </TwText>
    
    <TwCaption>
        Start by creating a new workflow or opening an existing one.
    </TwCaption>
</div>