@page "/authentication/login"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<RemoteAuthenticatorView Action="@RemoteAuthenticatorActions.LogIn">
    <LoggingIn>
        <div class="min-h-screen flex items-center justify-center bg-gray-100">
            <div class="p-8 bg-white rounded-lg shadow-md">
                <div class="flex flex-col items-center">
                    <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
                    <p class="mt-4 text-gray-600">Logging in...</p>
                </div>
            </div>
        </div>
    </LoggingIn>
</RemoteAuthenticatorView>
